body {
  margin: 0;
  padding: 0;

  .showSingle {
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial;
    height: 100vh;
    opacity: 0.7;
.inputBox{
  margin: 0 auto;
  width: 60vw;
  .fa-search {
    cursor: pointer;
  }
}


    .caption {
      width: 60vw;
      color: antiquewhite;
      font-size: 30px;
      font-weight: 400;
      background-color: rgba(95, 95, 95, 0.5);
      text-align: center;
      margin: 0 auto;
      border-radius: 30px;
      line-height: 3em;
    }
  }

  .show {
    position: absolute;
    bottom: 1em;
    left: 20vw;
    margin: 2em auto;
    display: flex;
    justify-content: space-between;
    width: 60vw;

    .fas {
      //border: #01275b solid 1px;
      //position: absolute;
      top: 20%;
      font-size: 2em;
      //background-color: #5F5F5F;
      //opacity: 0.5;
      color: #f9f9f9;
      margin: auto 0;
    }

    .fas:hover {
      transform: scale(1.5);
      transition: 0.8s;
      cursor: pointer;
    }

    .fa-arrow-alt-circle-left {
      line-height: 2em;
      left: 0;
    }

    .fa-arrow-alt-circle-right {
      right: 0;
      line-height: 2em;
    }

    .showMulti {
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      //width: 55vw;
      position: relative;
      flex-wrap: wrap;
      //border: #01275b 1px solid;
      .imgItem {
        opacity: 1;
        border: #f9f9f9 2px solid;
        width: 10vw;
        height: 15vh;
      }

      img:hover {
        transform: scale(1.1);
        transition: 0.8s;
        border-color: rgba(249, 249, 249, 0);
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }
}