body {
  margin: 0;
  padding: 0;
}
body .showSingle {
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial;
  height: 100vh;
  opacity: 0.7;
}
body .showSingle .inputBox {
  margin: 0 auto;
  width: 60vw;
}
body .showSingle .inputBox .fa-search {
  cursor: pointer;
}
body .showSingle .caption {
  width: 60vw;
  color: antiquewhite;
  font-size: 30px;
  font-weight: 400;
  background-color: rgba(95, 95, 95, 0.5);
  text-align: center;
  margin: 0 auto;
  border-radius: 30px;
  line-height: 3em;
}
body .show {
  position: absolute;
  bottom: 1em;
  left: 20vw;
  margin: 2em auto;
  display: flex;
  justify-content: space-between;
  width: 60vw;
}
body .show .fas {
  top: 20%;
  font-size: 2em;
  color: #f9f9f9;
  margin: auto 0;
}
body .show .fas:hover {
  transform: scale(1.5);
  transition: 0.8s;
  cursor: pointer;
}
body .show .fa-arrow-alt-circle-left {
  line-height: 2em;
  left: 0;
}
body .show .fa-arrow-alt-circle-right {
  right: 0;
  line-height: 2em;
}
body .show .showMulti {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}
body .show .showMulti .imgItem {
  opacity: 1;
  border: #f9f9f9 2px solid;
  width: 10vw;
  height: 15vh;
}
body .show .showMulti img:hover {
  transform: scale(1.1);
  transition: 0.8s;
  border-color: rgba(249, 249, 249, 0);
  border-radius: 10px;
  cursor: pointer;
}

/*# sourceMappingURL=city-view.css.map */
